<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Hibernate tuning -->
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <property name="hibernate.show_sql">true</property>

        <!-- Use HikariCP -->
        <property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>

        <!-- HikariCP connection details -->
        <property name="hibernate.hikari.dataSourceClassName">com.mysql.cj.jdbc.MysqlDataSource</property>
<!--        ***REMOVED***-->
<!--        ***REMOVED***-->
        <property name="hibernate.hikari.dataSource.url">jdbc:mysql://myl-db-rds.ce7wqiee6j8m.us-east-1.rds.amazonaws.com:3306/myl_db?serverTimezone=America/Argentina/Buenos_Aires</property>
        <property name="hibernate.hikari.dataSource.user">admin</property>
        ***REMOVED***

        <!-- HikariCP tuning -->
        <property name="hibernate.hikari.minimumIdle">5</property>
        <property name="hibernate.hikari.maximumPoolSize">15</property>
        <property name="hibernate.hikari.idleTimeout">300000</property>
        <property name="hibernate.hikari.connectionTimeout">20000</property>
        <property name="hibernate.hikari.maxLifetime">1800000</property>

        <!-- Optional -->
        <property name="hibernate.connection.transacted">true</property>

        <!-- Entity mapping -->
        <mapping class="ar.com.mylback.dal.entities.Card"/>
        <mapping class="ar.com.mylback.dal.entities.Collection"/>
        <mapping class="ar.com.mylback.dal.entities.Format"/>
        <mapping class="ar.com.mylback.dal.entities.KeyWord"/>
        <mapping class="ar.com.mylback.dal.entities.Race"/>
        <mapping class="ar.com.mylback.dal.entities.Rarity"/>
        <mapping class="ar.com.mylback.dal.entities.Type"/>

    </session-factory>
</hibernate-configuration>
